.form {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

.input {
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2c2c2c;
  color: white;
  outline: none;
}

.input::placeholder {
  color: #aaa;
}

.button {
  padding: 10px 20px;
  border-radius: 100px;
  background: #A6FF00;
  color: #2c2c2c;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #2c2c2c;
  color: #FFFFFF;
}